<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /asset-packager/assets/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /asset-packager/assets/index.php [L]
</IfModule>
